/* semantic color variables for this project */
:root {
  --background: #16161a;
  --paragraph: #94a1b2;
  --button: #7f5af0;
  --text: #fffffe;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: var(--background);
}

