<script setup>
import { SpriteGroup } from './components/SpriteGroup';
import { AutoAnimation } from './components/AutoAnimation';


window.onload = function() {
  console.log("window loaded");

  const canvas = document.querySelector("#canvas");
  const context = canvas.getContext("2d", { alpha: false });
  const range = document.querySelector(".range-slider");
  const colors = document.querySelector(".colors");
  const parts = document.querySelector(".parts");
  const idleSprites = new SpriteGroup(
    8, 5, 72, 
    {
      pants: "./src/assets/sprites/idle_pants.png",
      shirt: "./src/assets/sprites/idle_shirt.png",
      shoe: "./src/assets/sprites/idle_shoe.png",
      skin: "./src/assets/sprites/idle_skin.png",
      eyes: "./src/assets/sprites/idle_eyes.png",
      hair: "./src/assets/sprites/idle_hair.png",
    }
  );
  const idleAnimation = new AutoAnimation(0.15, idleSprites);

  let selectedPart = "skin";
  let direction = 0;
  
  let dt = 0; // the time between frames in seconds
  let timer = 0; // time in seconds
  let oldTimeStamp = 0;


  range.addEventListener("input", function() {
    direction = range.value;
  });
  colors.addEventListener("click", function(e) {
    const target = e.target;
    if (target.classList.contains("color")) {
      const colorOptions = document.querySelectorAll(".color");
      colorOptions.forEach(item => {
        item.style.backgroundSize = "0%";
      });
      const selectedColor = target.getAttribute("data-color");
      idleSprites.setImage(selectedPart, selectedColor);
      target.style.backgroundSize = "100%";
    }
  });

  parts.addEventListener("click", function(e) {
    const target = e.target;
    if (target.classList.contains("part")) {
      const partOption = document.querySelectorAll(".part");
      partOption.forEach(item => {
        item.style.backgroundColor = "var(--color)";
      });
      selectedPart = target.getAttribute("data-part");
      target.style.backgroundColor = "var(--paragraph)";
    }
  });


  function start() {
    context.imageSmoothingEnabled = false;
    render();
  }

  function clear() {
    context.rect(0, 0, canvas.width, canvas.height);
    context.fillStyle = "#3c3c41";
    context.fill();
  }

  function render(timeStamp) {
    dt = (timeStamp - oldTimeStamp) / 1000;
    oldTimeStamp = timeStamp;
    // update time
    if (!isNaN(dt))
    {
        timer += dt;
    }
    // update

    // render
    clear();


    idleAnimation.play(context, dt, direction, [6, 6], [72*4, 72*4]);
    //
    window.requestAnimationFrame(render);
  }

  start();

}



</script>

<template>
  <div class="header">Character Customiser</div>
  <div class="customization-container">
    <div class="canvas-container">
      <canvas id="canvas" width="300" height="300" style="border:3px solid #d3d3d3;"></canvas>
    </div>
    <div class="controls">
      <input type="range" name="" id="" value="0" min="0" max="7" class="range-slider">
      <div class="colors">
        <div class="color" data-color="black"></div>
        <div class="color" data-color="blue"></div>
        <div class="color" data-color="brown"></div>
        <div class="color" data-color="green"></div>
        <div class="color" data-color="red"></div>
        <div class="color" data-color="skinColor"></div>
        <div class="color" data-color="yellow"></div>
      </div>
      <div class="parts">
        <div class="part" data-part="pants">pants</div>
        <div class="part" data-part="shirt">shirt</div>
        <div class="part" data-part="shoe">shoe</div>
        <div class="part" data-part="skin">skin</div>
        <div class="part" data-part="eyes">eyes</div>
        <div class="part" data-part="hair">hair</div>
      </div>
    </div>
  </div>
  <div class="theme-toggle"></div>

  <main>
  </main>



</template>

<style scoped>
* {
  --background: #16161a;
  --background-2: #3c3c41;
  --paragraph: #94a1b2;
  --color: #7f5af0;
  --text: #fffffe;
}

.header {
  position: relative;
  height: 100px;
  width: 100%;
  line-height: 100px;
  background-color: var(--color);
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: var(--background);
  font-weight: 700;
}

.customization-container {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  /* place-items: center; */
  justify-items: center;
  max-width: 920px;
  margin: 0 auto;
}

#canvas {
  width: 300px;
  height: 300px;
  border: none !important;
  border-radius: 10px !important;
}

/* controls */
.controls {
  display: flex;
  flex-direction: column;
  gap: 10px 0px;
  align-content: center;
  justify-content: center;
  max-width: 300px;
}

/* slider */
.range-slider {
  width: 100%;
  height: 40px;
  appearance: none;
  border-radius: 20px;
  padding: 0 5px;
  box-shadow: 0 0 2px 0px inset var(--color);
  margin: 0 auto;
  /* max-width: 400px; */
}

.range-slider::-webkit-slider-thumb {
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--color);
  cursor: pointer;
}

.range-slider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--color);
  cursor: pointer;
}




/* color controls */
.colors {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 5px 10px;
  justify-content: space-around;
  background-color: var(--background-2);
  border-radius: 50px;
}
.color {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  box-shadow: 0 0 2px 1px inset #171717;
  background-image: url("./src/assets/tick.png");
  background-size: 100%;
  background-size: 0%;
}
.color::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("./src/assets/tick.png");
  background-size: 100%;
  display: none;
}

[data-color="black"] { background-color: #222222;}
[data-color="blue"] { background-color: #075dcc;}
[data-color="brown"] { background-color: #562121;}
[data-color="green"] { background-color: #1bb725;}
[data-color="red"] { background-color: #a6291c;}
[data-color="skinColor"] { background-color: #E8BEAC;}
[data-color="yellow"] { background-color: #ead954;}


/* parts */
.parts {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 5px 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.part {
  width: 70px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 25px;
  background-color: var(--color);
}

[data-part="skin"] {
  background-color: var(--paragraph);
}



.theme-toggle {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: var(--color);

}

@media (min-width: 1024px) {
  .header {
    font-size: 40px;
  }
  .customization-container {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }

  #canvas {
    width: 500px;
    height: 500px;
  } 
 
}
</style>
